body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.header {
	display: flex;
	height: 30%;
}
.container {
	display: flex;
	height: 50%;
}
.footer {
	margin-left: 20%;
}

.header-left {
	width: 60%;
}
.image {
	width: 80px;
	height: 60px;
}

.container-right {
	margin-top: 1rem;
	justify-content: center;
}
