body {
	background: black;
}
* {
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 1rem;
}
.header {
	display: flex;
	height: 30%;
	align-content: center;
}
.container {
	display: flex;
	height: 50%;
}
.footer {
	text-align: center;
	margin-top: 1rem;
}

.header-left {
	width: 60%;
}
.image {
	width: 80px;
	height: 60px;
	margin-left: auto;
}

.container-right {
	margin-top: 1rem;
	justify-content: center;
	padding-left: 0.5rem;
}
.container-left {
	padding-right: 0.5rem;
	justify-content: space-between;
}
